

{% block css %}
    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static' ,filename='css/bootstrap.min.css')}}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='css/materialdesignicons.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename='css/pe-icon-7-stroke.css')}}" />
                
    <!-- custom Css -->
    <link rel="stylesheet" id="app-css" type="text/css" href="{{url_for('static' ,filename='css/style.css')}}" />

    <!-- colors -->
    <link href="{{url_for('static' ,filename='css/colors/default.css')}}" rel="stylesheet" type="text/css" id="color-opt" />

{% endblock css %}


