{% extends 'partials/base.html' %}
{% block section %}
  

    <section class="sm-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-5 mt-4">
                            <div class="position-relative">
                                <img class="img-fluid rounded-3" src="https://assets.myntassets.com/fl_progressive/h_960,q_80,w_720/v1/assets/images/1700871/2020/1/22/f932ae44-0fb8-4b92-b7bc-f1756253294b1579692118186-HRX-by-Hrithik-Roshan-Men-Teal-Blue-Printed-T-shirt-90515796-1.jpg" alt="" />
                                <span
                                    class="text-dark badge bg-light rounded-3 fs-14 fw-bold position-absolute top-0 start-0 mt-2 ms-2 py-2">-20%</span>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 mt-4">
                                    <a href=""><img class="img-fluid rounded" src="https://assets.myntassets.com/f_webp,fl_progressive/h_1440,q_70,w_1080/v1/assets/images/1700871/2020/1/22/5a6da9ac-d32e-4710-9b6d-569b454560931579692118120-HRX-by-Hrithik-Roshan-Men-Teal-Blue-Printed-T-shirt-90515796-2.jpg"
                                            alt="" /></a>
                                </div>
                                <div class="col-sm-4 mt-4">
                                    <a href=""><img class="img-fluid rounded" src="https://assets.myntassets.com/f_webp,fl_progressive/h_1440,q_70,w_1080/v1/assets/images/1700871/2020/1/22/ee026dfd-53d5-431f-8f49-793d1b1a3ca91579692118057-HRX-by-Hrithik-Roshan-Men-Teal-Blue-Printed-T-shirt-90515796-3.jpg"
                                            alt="" /></a>
                                </div>
                                <div class="col-sm-4 mt-4">
                                    <a href=""><img class="img-fluid rounded" src="https://assets.myntassets.com/f_webp,fl_progressive/h_1440,q_70,w_1080/v1/assets/images/1700871/2020/1/22/3d7fa82a-871c-43f9-8aa4-b01fbc77e2921579692117728-HRX-by-Hrithik-Roshan-Men-Teal-Blue-Printed-T-shirt-90515796-6.jpg"
                                            alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 mt-4">
                            <div class="pro-detail-content">
                                <div><h1 class="text-dark fw-light lh-base mt-5">HRX by <span
                                    class="fw-medium title">Hrithik Roshan</span></h1>
                            <p class="fs-16 text-muted mb-0">Men Teal Blue Printed Pure Cotton T-shirt</p></div>
                                <div class="price my-3">
                                    <ins class="pe-2 fs-18 text-success fw-semibold text-decoration-none">₹349
                                        </ins>
                                    MRP  <del class="text-muted fs-18">₹699</del>
                                </div>

                                <p class="text-muted fs-16 my-3">
                                    This season set a sporty fashion trend with the HRX Men's Athleisure T-shirt. This striped casual T-shirt can be worn on its own or layered under a jacket or a hoodie.

                                </p>
                                <div class="rating my-3">
                                    <i class="mdi mdi-star fs-20 text-warning d-inline-block"></i>
                                    <h5 class="d-inline-block fs-16 mb-0">5.0</h5>
                                </div>

                                <div class="details mb-4">
                                    <ul class="list-unstyled">
                                        <li class="text-muted py-1"><i data-feather="arrow-right"
                                                class="icon-xxs me-2"></i> Generally delivered in 7 - 11 days</li>
                                        <li class="text-muted py-1"><i data-feather="arrow-right"
                                                class="icon-xxs me-2"></i> Warranty Period (in years):1</li>
                                        <li class="text-muted py-1"><i data-feather="arrow-right"
                                                class="icon-xxs me-2"></i> Number of Focus Points:3</li>
                                        <li class="text-muted py-1"><i data-feather="arrow-right"
                                                class="icon-xxs me-2"></i> 7 Days Replacement</li>
                                    </ul>
                                    <ul class="list-unstyled list-inline"></ul>
                                </div>
                                <div class="qty mb-4">
                                    <h6 class="d-inline-block fw-semibold">Quantity :</h6>
                                    <select class="form-select border d-inline-block ms-4 w-25" id="autoSizingSelect">
                                        <option selected="">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                                <div class="color mb-4">
                                    <h6 class="d-inline-block fw-semibold">Color :</h6>
                                    <ul class="d-inline-block list-unstyled list-inline align-middle ms-3 mb-0">
                                        <li class="list-inline-item me-0">
                                            <a href="javascript:void(0)"><i
                                                    class="mdi mdi-invert-colors fs-5 text-success"></i></a>
                                        </li>
                                        <li class="list-inline-item me-0">
                                            <a href="javascript:void(0)"><i
                                                    class="mdi mdi-invert-colors fs-5 text-primary"></i></a>
                                        </li>
                                        <li class="list-inline-item me-0">
                                            <a href="javascript:void(0)"><i
                                                    class="mdi mdi-invert-colors fs-5 text-danger"></i></a>
                                        </li>
                                        <li class="list-inline-item me-0">
                                            <a href="javascript:void(0)"><i
                                                    class="mdi mdi-invert-colors fs-5 text-warning"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)"><i
                                                    class="mdi mdi-invert-colors fs-5 text-dark"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="availability d-flex mb-4">
                                    <h6 class="fw-semibold">Availability :</h6>
                                    <p class="text-muted fs-15 ms-4">In Stock</p>
                                </div>
                              
                              <div class="hover-content">
                              
                                    <a href="/shop/checkout" class="btn btn-primary me-2 my-2"> <i data-feather="shopping-cart"
                                            class="icon-xs me-2"></i> Buy Now</a>
                                            <a href="/shop/wishlist" class="btn btn-secondary my-2"> <i data-feather="heart"
                                                class="icon-xs me-2"></i> Wishlist</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end pro-detail -->

    <!-- detail tab -->
    <section class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="pro-detail-area">
                        <div class="nav nav-tabs border-bottom detail-title" id="nav-tab" role="tablist">
                            <a class="nav-link border-0 active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home"
                                role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
                            <a class="nav-link border-0" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile"
                                role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</a>
                        </div>
                    </nav>
                    <div class="tab-content py-4" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <p class="text-muted fs-16">
                                Sport this trendsetting HRX by Hrithik Roshan tee when you're ready to take your style to the next level. When you're going for a stroll in the park, put this teal piece with a pair of chinos and sneakers to feel both comfortable and stylish outside</p>

                            <div class="row text-muted">
                                <div class="col-md-6">
                                    <ul class="list-unstyled">
                                        <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Athleisure T-shirt can be paired with tracks, khakis or jeans</li>
                                        <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Style: Round Neck</li>
                                        <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Sleeve: Short Sleeves</li>
                                        <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Colour: Teal</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-unstyled">
                                        <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Print: Geometric</li>
                                        <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Fit: Regular</li>
                                        <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Material & Care: 100% cotton | Machine-wash</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <h6 class="lh-base fw-medium">5 Ratings & 2 Review</h6>
                            <ul class="list-unstyled my-4">
                                <li class="list-inline d-flex py-3">
                                    <div>
                                        <a href="javascript:void(0)">
                                            <img class="rounded-circle img-thumbnail" src="{{url_for('static' ,filename='images/clients/client-1.jpg')}}"
                                                alt="" />
                                        </a>
                                    </div>
                                    <div class="ps-4">
                                        <h6 class="d-inline-block fs-16 mb-0">John Barrows</h6>
                                        <div class="rating d-inline-block ps-sm-4">
                                            <i class="mdi mdi-star fs-16 text-warning d-inline-block"></i>
                                            <h5 class="d-inline-block fs-16">5.0</h5>
                                        </div>
                                        <p class="text-muted">24th January, 2023</p>
                                        <p class="text-muted fs-16">Tshirt looks and the fabric feels great. It was just tight fit my shoulder length. I already booked same t-shirt with size: M also in the same order, that fits perfectly and equals to an exchange. Good cotton fabric and perfect fit for chest 38" and shoulder 17". Reviewed after a full warm day's usage of size M t-shirt.
                                        </p>
                                    </div>
                                </li>
                                <li class="list-inline d-flex py-3">
                                    <div>
                                        <a href="javascript:void(0)">
                                            <img class="rounded-circle img-thumbnail" src="{{url_for('static' ,filename='images/clients/client-2.jpg')}}"
                                                alt="" />
                                        </a>
                                    </div>
                                    <div class="ps-4">
                                        <h6 class="d-inline-block fs-16 mb-0">James Marks</h6>
                                        <div class="rating d-inline-block ps-sm-4">
                                            <i class="mdi mdi-star fs-16 text-warning d-inline-block"></i>
                                            <h5 class="d-inline-block fs-16">4.9</h5>
                                        </div>
                                        <p class="text-muted">2nd January, 2023</p>
                                        <p class="text-muted fs-16">
                                            It was My first experience with Vysta . The product was up to the mark as Expected .. if u have a low budget and want a premium looking tshirt go for it 👍
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end nav -->
                    <div>
                        <h6 class="lh-base fw-semibold mt-4 mb-3">Add Your Review</h6>
                        <form method="post">
                            <div class="row g-4 mb-2">
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" placeholder="Your name" />
                                        <label class="text-muted">Your name</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" placeholder="Your email" />
                                        <label class="text-muted">Email address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-4 mb-2">
                                <div class="col-lg-12">
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" placeholder="Your Message...."
                                            style="height: 100px;"></textarea>
                                        <label class="text-muted">Your Review</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <ul class="list-unstyled list-inline mb-0">
                                    <li class="fw-semibold text-muted list-inline-item lh-lg">Add Your Review :</li>
                                    <li class="list-inline-item me-0">
                                        <i class="mdi mdi-star fs-17 text-warning"></i>
                                    </li>
                                    <li class="list-inline-item me-0">
                                        <i class="mdi mdi-star fs-17 text-warning"></i>
                                    </li>
                                    <li class="list-inline-item me-0">
                                        <i class="mdi mdi-star fs-17 text-warning"></i>
                                    </li>
                                    <li class="list-inline-item me-0">
                                        <i class="mdi mdi-star fs-17 text-warning"></i>
                                    </li>
                                    <li class="list-inline-item me-0">
                                        <i class="mdi mdi-star-half-full fs-17 text-warning"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mt-3">
                                    <a href="javascript:void(0)" class="btn btn-primary">Send Review <i class="icon-xs"
                                            data-feather="arrow-right"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </section>
    <!-- end detail tab -->

{% endblock %}
{% block extra_js %}

<script src="{{url_for('static' ,filename='js/addtocart.js')}}"></script>

{% endblock extra_js %}
