

{% extends 'partials/base.html' %}
{% block section %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="page-title">
                    <h2 class="text-dark fw-light lh-base mt-5">Unloading <span
                            class="fw-medium title">COOL</span> new outfits!
                        <br>#staytuned</h2>
                            
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
{% endblock %}